body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: darkblue;
}

.resetButton {
  max-width: 12em;
  margin: 24px;
}
.grid {
  display: flex;
  height: fit-content;
  width: fit-content;
}

.column {
  margin: 0;
  flex: 1;
}

.row {
  margin: 0;
  height: 8px;
  width: 8px;
  background: gray;
}

.trail {
  margin: 0;
  height: 8px;
  width: 8px;
  background: black;
}
